# Python
__pycache__/
*.py[cod]
*.so
venv/
.venv/
env/
*.egg-info/

# Django
*.log
db.sqlite3
db.sqlite3-journal
/media/
/staticfiles/

# Environment
.env
.env.*
!.env.example

# Node
node_modules/
dist/
dist-ssr/
*.local
.yarn/
.pnp.*

# Editors & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
*.swp
